.App {
  text-align: center;
}

button {
  padding: 5px 15px;
  font-size: 15px;
  font-family: 'JetBrains Mono';
  background-color: lightcoral;
  border-radius: 15px;
  outline: none;
  border: 1px solid crimson;
}